<div class="container-fluid" [ngClass]="{ night: (!isDay) }">
  <div class="h1 text-center">Weather App</div>
  <div class="row search-box">
    <input
      type="text"
      class="float-start rounded-pill px-3 py-2"
      [ngClass]="{ night: !isDay }"
      placeholder="Enter City Name"
      [(ngModel)]="cityName"
    />
    <button
      class="float-end rounded-circle py-1 mt-1"
      [ngClass]="{ night: !isDay }"
      (click)="getNewData()"
    >
      <i class="fas fa-search"></i>
    </button>
  </div>
  <div
    class="weather-card w-25"
    *ngIf="weatherData;else loadingData"
    [ngClass]="{ night: !isDay }"
  >
    <div>
      <div class="row">
        <div class="video-mask">
          <div [ngSwitch]="dayCondition">
            <div *ngSwitchCase="'mist'">
              <video
                src="../assets/videos/mist.mp4"
                class="rounded"
                autoplay
                loop
              ></video>
            </div>
            <div *ngSwitchCase="'clear'">
              <video
                src="../assets/videos/clear.mp4"
                class="rounded"
                autoplay
                loop
              ></video>
            </div>
            <div *ngSwitchCase="'cloudy'">
              <video
                src="../assets/videos/cloudy.mp4"
                class="rounded"
                autoplay
                loop
              ></video>
            </div>
            <div *ngSwitchCase="'rain'">
              <video
                src="../assets/videos/rain.mp4"
                class="rounded"
                autoplay
                loop
              ></video>
            </div>
            <div *ngSwitchCase="'rain-night'">
              <video
                src="../assets/videos/rain-night.mp4"
                class="rounded"
                autoplay
                loop
              ></video>
            </div>
            <div *ngSwitchCase="'snow'">
              <video
                src="../assets/videos/snow.mp4"
                class="rounded"
                autoplay
                loop
              ></video>
            </div>
            <div *ngSwitchCase="'thunderstorm'">
              <video
                src="../assets/videos/snow.mp4"
                class="rounded"
                autoplay
                loop
              ></video>
            </div>

            <div *ngSwitchDefault>
              <video
                src="../assets/videos/clear.mp4"
                class="rounded"
                autoplay
                loop
              ></video>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row text-center">
          <h4>
            {{ weatherData.location.name }} -
            {{ weatherData.location.country }} ({{ weatherData.current.temp_c }}
            &deg;C)
          </h4>
          <p>{{ weatherData.location.localtime | date }}</p>
          <p>{{ weatherData.current.condition.text }}</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>
              Feels Like:
              {{ weatherData.current.feelslike_c }}
            </p>
          </div>
          <div class="col-md-6">
            <p>
              Visibility:
              {{ weatherData.current.vis_km }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>
              Precipation <i class="fas fa-raindrop"></i>:
              {{ weatherData.current.precip_in }} In.
            </p>
          </div>
          <div class="col-md-6">
            <p>
              Humidity <i class="fas fa-droplet"></i>:
              {{ weatherData.current.humidity }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>
              UV Index:
              {{ weatherData.current.uv }}
            </p>
          </div>
          <div class="col-md-6">
            <p>
              Wind <i class="fas fa-wind"></i>:
              {{ weatherData.current.wind_kph }} KmPh({{
                weatherData.current.wind_dir
              }})
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loadingData>
    <div class="spinner-box">
      <div class="circle-border">
        <div class="circle-core"></div>
      </div>
    </div>
  </ng-template>
</div>
